:root {
  --button-bg-color: #f0f0f0;
  --button-border-radius: 5px;
  --button-margin: 10px;
  --button-padding: 10px;
  --section-height: 98vh;
  --section-padding: 10px;
  --item-margin: 10px 0;
  --item-padding: 10px;
  --item-bg-color: #fff;
  --item-border-radius: 5px;
  --font-size: 16px;
  --border-color: #d1d1d1;
  --highlight-color: #007aff;
  --text-color: #333;
  --box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.homeContainer {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 20% 50% 30%;
  background-color: black;
  overflow: hidden;
}

/* Styles for the side menu */
.homeSideMenu {
  grid-column: 1;
  height: var(--section-height);
  background-color: grey;
  padding: var(--section-padding);
}

/* Styles for the menu buttons */
.homeMenuButton {
  display: inline-block;
  margin: var(--button-margin);
  padding: var(--button-padding);
  background-color: var(--button-bg-color);
  border: none;
  border-radius: var(--button-border-radius);
  cursor: pointer;
}
.homeMenuButton:hover {
  background-color: #777777;
}

.homeTaskList,
.homeChatWindow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
}

.homeButtons {
  display: flex;
  justify-content: space-between;
}

/* Adjustments as needed */
.homeTask,
.homeChatRoomCard {
  margin: var(--item-margin);
  padding: var(--item-padding);
  background-color: var(--item-bg-color);
  border-radius: var(--item-border-radius);
}

.homeCenter,
.homeChatWindow {
  height: var(--section-height);
  padding: var(--section-padding);
}
/* Styles for the center section */
.homeCenter {
  grid-column: 2;
}

/* Styles for the chat window */
.homeChatWindow {
  grid-column: 3;
}

/* Styles for the messages */
.homeMessage {
  background-color: white;
  padding: 5px 10px;
  margin: 15px 0;
  border-radius: 10px 10px 10px 0px;
}

.homeUserMessage {
  background-color: var(--highlight-color);
  padding: 5px 10px;
  margin: 15px 0;
  border-radius: 10px 10px 0px 10px;
}

/* Styles for the input box and send button to mimic iMessage */
.homeInputBox {
  display: flex;
  align-items: center;
}

.homeInputBox input[type="text"] {
  width: 80%;
  padding: 10px 15px;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  margin-right: 10px;
  font-size: var(--font-size);
  color: var(--text-color);
  background-color: #fff;
}

.homeInputBox input[type="text"]:focus {
  outline: none;
  border-color: var(--highlight-color);
  box-shadow: 0 0 5px var(--highlight-color);
}

.homeSendBtn {
  display: flex;
  align-items: flex-end;
  padding-bottom: 2px;
  background-color: var(--highlight-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 45px;
  height: 40px; /* Adjust this to match the height of your input box */
}

.homeSendBtn img {
  width: 30px; /* Adjust this to change the size of the icon */
  height: 30px; /* Adjust this to change the size of the icon */
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .homeContainer {
    grid-template-columns: 25% 75%;
  }

  .homeChatWindow {
    grid-column: 2;
  }
}
